.guides {
  padding: 0px 50px;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guides .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guides .heading h1 {
  width: 771px;
  height: 128px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.03em;
  background: linear-gradient(180deg, #f6f6f7 0%, #7e808f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.guides .heading p {
  width: 949px;
  height: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.03em;
  background: linear-gradient(180deg, #f6f6f7 0%, #7e808f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-top: 20px;
}

.guides .card1 {
  background-image: url("../../assets/leftBg.png"),
    url("../../assets/rightBg.png");
  background-position: center;
  background-size: cover;
  margin-top: 40px;
  padding: 70px;
  isolation: isolate;
  width: 1224px;
  height: 436px;
  /* background: #0e1330; */
  border: 1px solid #282d45;
  border-radius: 10px;

  display: flex;
  align-items: center;
}
.guides .card1 div h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.03em;
  color: #f6f6f7;
  margin-bottom: 15px;
}
.guides .card1 div ol li {
  line-height: 24px;
  color: #8f9bb7;
  list-style-position: inside;
}
.guides .card1 div button {
  margin-top: 35px;
  padding: 15px 25px;
  background: linear-gradient(
    261.47deg,
    rgba(21, 25, 52, 0.52) 14.6%,
    rgba(21, 25, 52, 0.08) 49.66%,
    rgba(21, 25, 52, 0.49) 87.77%
  );
  border: 1.2px solid #282d45;
  border-radius: 46px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  line-height: 16px;
  color: #f6f6f7;
}

.guides .card2 {
  margin-top: 40px;
  width: 1224px;
  height: 735px;
  /* background: #0e1330; */
  border-radius: 10px;

  display: flex;
}
.guides .card2 .left {
  position: relative;
  width: 496px;
  height: 100%;
  padding: 50px 55px;
  background: #0e1330;
  border: 1px solid #282d45;
  border-radius: 10px;
}
.guides .card2 .left .blur {
  position: absolute;
}
.guides .card2 .left .blur1 {
  width: 118px;
  height: 118px;
  left: 351px;
  top: 38px;
  background: #41e88d;
  filter: blur(125px);
}
.guides .card2 .left .blur2 {
  width: 118px;
  height: 118px;
  left: 35px;
  top: 441px;
  background: #7214ff;
  filter: blur(125px);
}
.guides .card2 .left .blur3 {
  width: 118px;
  height: 80.86px;
  left: 351px;
  top: 38px;
  background: #41e88d;
  filter: blur(125px);
}
.guides .card2 .left .blur4 {
  width: 118px;
  height: 80.86px;
  left: 35px;
  top: 314.14px;
  background: #7214ff;
  filter: blur(125px);
}

.guides .card2 .left h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.03em;
  color: #f6f6f7;
  margin-bottom: 15px;
}
.guides .card2 .left ol li {
  list-style-position: inside;
  font-size: 24px;
  line-height: 52px;
  color: #8f9bb7;
}

.guides .card2 .right {
  margin-left: 100px;
  width: 60%;
  background-image: url("../../assets/Bg\ Shape\ \(3\).png");
  background-position: center;
  background-size: cover;
}
.guides .card2 .right img {
  height: 100%;
  background-image: url("../../assets/Bg\ Shape\ \(2\).png");
  background-position: center;
  background-size: cover;
  padding: 30px 70px;

  border: 1px solid #282d45;
  border-radius: 10px;
}

.guides .btns {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.guides .btns div .btn1 {
  padding: 15px 25px;
  background: #7214ff;
  border-radius: 36px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #ffffff;
}
.guides .btns div .btn2 {
  padding: 15px 25px;
  background: linear-gradient(
    261.47deg,
    rgba(21, 25, 52, 0.52) 14.6%,
    rgba(21, 25, 52, 0.08) 49.66%,
    rgba(21, 25, 52, 0.49) 87.77%
  );
  border: 1.2px solid #282d45;
  border-radius: 46px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  line-height: 16px;
  color: #f6f6f7;
}

@media screen and (max-width: 1200px) {
  .guides .heading p {
    width: 100%;
  }

  .guides .card1 {
    padding: 30px;
    width: 100%;
    height: fit-content;
    flex-direction: column;
  }

  .guides .card2 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .guides .card2 .left {
    width: 100%;
    height: fit-content;
    padding: 70px;
  }
  .guides .card2 .right {
    margin-left: 0px;
    margin-top: 10px;
    width: 100%;
  }
  .guides .card2 .right img {
    /* margin-left: 0px; */
    width: 100%;
    padding: 30px 70px;
  }
}

@media screen and (max-width: 800px) {
  .guides {
    margin-top: 100px;
  }
  .guides .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .guides .heading h1 {
    width: 100%;
    height: fit-content;
    font-size: 46px;
    text-align: start;
  }
  .guides .heading p {
    width: 100%;
    height: fit-content;
    font-size: 22px;
    text-align: start;
  }
}

@media screen and (max-width: 600px) {
  .guides .card1 img {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .guides {
    padding: 0px 20px;
  }

  .guides .card1 div ol li {
    margin-top: 10px;
  }

  .guides .card2 {
    padding: 0px;
  }
  .guides .card2 .left {
    padding: 30px;
  }
  .guides .card2 .left ol li {
    margin-top: 10px;
  }
  .guides .card2 .right img {
    padding: 30px 30px;
  }

  .guides .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .guides .btns div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .guides .btns div .btn1 {
    margin-bottom: 10px;
  }
  .blur {
    display: none;
  }
}
