footer {
  background-color: #060b27;
  background-image: url("../../assets/footerBG.png");
  background-position: center;
  background-size: cover;
  padding: 100px 0px 40px;
  width: 100%;
  height: 570px;
  margin-top: 140px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

footer .sub {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 30px;
  width: 393px;
  height: 268px;
  border: 1px solid #282d45;
  border-radius: 10px;
  margin-top: 35px;
}
footer .sub h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.03em;
  color: #f6f6f7;
}
footer .sub input {
  width: 100%;
  padding: 10px 27px;
  background: #0e1330;
  border: 1px solid #282d45;
  border-radius: 50px;
  margin: 19px 0px 15px 0px;
  color: white;
}
footer .sub button {
  width: 100%;
  padding: 15px 85px;
  background: #7214ff;
  border-radius: 36px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  line-height: 16px;
  color: #ffffff;
  border: none;
}

footer .links-wrap {
  display: flex;
  align-items: center;
}
footer .links-wrap ul {
  margin-left: 158px;
}
footer .links-wrap ul h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.03em;
  color: #8f9bb7;
  margin-bottom: 36px;
}
footer .links-wrap ul li {
  list-style: none;

  font-weight: 900;
  line-height: 16px;
  color: #8f9bb7;
  margin-bottom: 25px;
  cursor: pointer;
}
footer .links-wrap ul li:hover {
  color: #cacdd4;
}

@media screen and (max-width: 1000px) {
  footer {
    height: fit-content;
    padding: 20px;
  }

  footer .links-wrap ul {
    margin-left: 50px;
  }
}

@media screen and (max-width: 800px) {
  footer {
    padding: 20px 0px;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
  }

  footer .links-wrap {
    margin-left: 0px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width: 400px) {
  footer {
    width: 100%;
    height: fit-content;
    margin-top: 50px;
    flex-direction: column;
    padding: 30px;
  }

  footer .sub {
    padding: 20px;
    width: 100%;
    height: fit-content;
    align-items: center;
  }
}
