@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  background-color: #060b27;
  color: white;
}
.hidden {
  height: 100vh;
  overflow-y: hidden;
}

.twitterImg-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 140px;
}
.twitterImg-wrap div {
  background-image: url(./assets/twitterBg.png);
  width: 1222px;
  height: fit-content;
  border: 1px solid #282d45;
  border-radius: 10px;
  padding: 50px;
}

@media screen and (max-width: 1000px) {
  .twitterImg-wrap {
    width: 100%;
    margin-top: 90px;
    margin-bottom: 0px;
  }
  .twitterImg-wrap div {
    width: 100%;
    height: fit-content;
    padding: 2px;
  }
  .twitterImg-wrap div img {
    object-fit: cover;
    width: 100%;
  }
}
