@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  background-color: #060b27;
  color: white;
}

.twitterImg-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 140px;
}
.twitterImg-wrap div {
  background-image: url(./assets/twitterBg.png);
  width: 1222px;
  height: fit-content;
  border: 1px solid #282d45;
  border-radius: 10px;
  padding: 50px;
}

.btns-section {
  width: full;
  height: 199px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e1330;
}
.btns-section div {
  display: flex;
  align-items: center;
}
.btns-section div div {
  padding: 20px;
  border: 1px dashed #9747ff;
  border-radius: 5px;
  margin-right: 18px;
}
.btns-section .btn1 {
  padding: 15px 25px;
  background: linear-gradient(
    261.47deg,
    rgba(21, 25, 52, 0.52) 14.6%,
    rgba(21, 25, 52, 0.08) 49.66%,
    rgba(21, 25, 52, 0.49) 87.77%
  );
  border: 1.2px solid #282d45;
  border-radius: 46px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  line-height: 16px;
  color: #f6f6f7;
}
.btns-section .btn2 {
  padding: 15px 25px;
  background: #7214ff;
  border-radius: 36px;
  border: none;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  line-height: 16px;
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .twitterImg-wrap {
    width: 100%;
    margin-top: 90px;
    margin-bottom: 0px;
  }
  .twitterImg-wrap div {
    width: 100%;
    height: fit-content;
    padding: 2px;
  }
  .twitterImg-wrap div img {
    object-fit: cover;
    width: 100%;
  }

  .btns-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  .btns-section div {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .btns-section div div {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 0px;
  }
  .btns-section .btn1 {
    margin-right: 00px;
  }
  .btns-section .btn2 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 400px) {
  .btns-section {
    height: fit-content;
    padding: 20px 0px;
  }
  .btns-section div {
    justify-content: space-evenly;
  }
}
